* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

#header {
    margin: 0px auto;
    width: 100%;
    height: 501px;
}

#header .container {
    width: 1077px;
    margin-bottom: 2px;
    overflow: hidden;
    margin: 0px auto;
}

.wrap-bg {
    background-image: url(./images/bg-top.jpg);
    background-position-x: center;
    background-position-y: top;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.nav {
    width: 1060px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    margin: 0px auto;
    z-index: 3;
    -webkit-transition: height 0.1s ease-in-out;
    -moz-transition: height 0.1s ease-in-out;
    -ms-transition: height 0.1s ease-in-out;
    -o-transition: height 0.1s ease-in-out;
    transition: height 0.1s ease-in-out;

}
.nav-list {
    padding-top: 22px;
    width: 100%;
    
}

.nav-list li {
    float: left;
    text-align: center;
    width: 105px;
    height: 42px;
    border-right: 1px solid #6f7179;
    font-family: 'UVNThanhPho_R';
}
.nav-list li a {
    font-size: 18px;
    line-height: 16px;
    color: #fafafa;
    font-family: 'UVNThanhPho_R';
}
.logo {
    padding-left: 10px;
    padding-right: 10px;
    width: 188px !important
    
}

.logo {
    width: 145px;
    height: 86px;
    top: 18px;
    left: 23px;
    z-index: 6;
}
a {
    color: #777986;
    text-decoration: none;
    outline: none;
}
li {
    list-style: none;
}

body {
    font: 12px/1.5 Tahoma, Geneva, sans-serif;
    padding: 0px;
    color: #777986;
    min-width: 1000px;
    margin: 0px auto;
    background: url(./images/bg-bottom.jpg) no-repeat bottom center #f2f2f2;
}

.content {
    width: 1150px;
    min-height: 1500px;
    z-index: 1;
    top: 500px;
    overflow: hidden;
    margin: 0px auto;
}

#sessions-1 {
    background: none repeat scroll 0 0 #112141;
    height: 260px;
    margin: 0 auto;
    position: relative;
    top: 5px;
    width: 989px;
}

.lights {
    background: url(./images/long-den.png) no-repeat;
    height: 243px;
    left: -78px;
    width: 100px;
    z-index: 9;
    position: absolute;
}
.button-link {
    width: 241px;
    left: 2px;
    position: absolute;
    top: 2px;
    margin: 0px auto;
    height: 260px;
}

.download a {
    background: url(./images/btn_taigame.jpg) no-repeat center top;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 241px;
    height: 126px;
    text-indent: -9999px;
}
.resgiter a {
    background: url(./images/buttons-left.png) repeat left -127px;
    position: absolute;
    top: 125px;
    left: 0px;
    width: 241px;
    height: 70px;
    text-indent: -9999px;
}

.card a {
    background: url(./images/buttons-left.png) repeat left -193px;
    position: absolute;
    top: 192px;
    left: 0px;
    width: 240px;
    height: 63px;
    text-indent: -9999px;
}

.slider-link {
    width: 491px;
    height: 254px;
    position: absolute;
    top: 3px;
    left: 252px;
    margin: 0px auto;
}

#boxEvent {
    width: 491px;
    height: 253px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
    padding: 0px;
}

#img {
    width: 491px;
    height: 253px;
    margin: 0px auto;
    padding: 0px;
}

#img li {
    position: absolute;
    z-index: 1;
    display: block;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

#img li a {
    width: 491px;
    height: 253px;
    padding: 0;
    position: relative;
    display: block;
    cursor: pointer;
}

img {
    border: 0;
    vertical-align: top;
    
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#imgControl {
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
    padding: 0px;
}

#imgControl li {
    position: relative;
    float: left;
    list-style: none;
    padding: 0;
}

#img li.ActiveBanner {
	z-index: 5;
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

#imgControl li.Last a  {
	background-image: none; 
}

#imgControl li a {
    padding: 0px 8px;
    margin-right: 5px;
    text-indent: -9999px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: right center no-repeat #112141;
}

#imgControl li a:hover, #imgControl li.ActiveBanner a {
    padding: ;
    text-decoration: none;
    background: right center no-repeat #af9567;
}

#imgControlContainer {
	background: url(../images/bg-banner-counter.png) no-repeat;
	text-decoration: none;	
	height: 52px;
	position: absolute;
	bottom: 0px;
	width: 550px;
}

.event-link {
    width: 241px;
    height: 254px;
    position: absolute;
    top: 3px;
    left: 755px;
    margin: 0px auto;
    z-index: 99;
}

.giangho a {
    background: url(./images/buttons-right.png) no-repeat left top;
    position: absolute;
    top: -8px;
    left: 0px;
    width: 112px;
    height: 113px;
    text-indent: -9999px;
}

.support a {
    background: url(./images/buttons-right.png) no-repeat -115px top;
    position: absolute;
    top: -8px;
    left: 115px;
    width: 140px;
    height: 113px;
    text-indent: -9999px;
}

.giftcode a {
    background: url(./images/buttons-right.png) no-repeat left -118px;
    position: absolute;
    top: 110px;
    left: 0px;
    width: 112px;
    height: 106px;
    text-indent: -9999px;
}

.vip a {
    background: url(./images/buttons-right.png) no-repeat -115px -118px;
    position: absolute;
    top: 110px;
    left: 115px;
    width: 115px;
    height: 106px;
    text-indent: -9999px;
}

.hotline {
    background: url(./images/hotline.png) no-repeat;
    width: 300px;
    height: 30px;
    margin: 0px auto;
    position: absolute;
    top: 223px;
}


#sessions-2 {
    background: none;
    min-height: 1000px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    width: 990px;
}

#session-left {
    width: 743px;
    min-height: 1000px;
    float: left;
    margin: 0px auto;
}

.guide-link {
    width: 742px;
    height: 90px;
    margin: 0px auto;
    position: absolute;
    margin-top: 255px;
}

.guide-blog a {
    background: url(./images/cuuamlenh-vip-giftcode.png) no-repeat;
    width: 245px;
    height: 85px;
    margin: 0px auto;
    position: absolute;
    top: 0px;
    left: 0px;
}

.guide-vip a {
    background: url(./images/cuuamlenh-vip-giftcode.png) no-repeat -247px center;
    width: 245px;
    height: 85px;
    margin: 0px auto;
    position: absolute;
    top: 0px;
    left: 250px;
}

.guide-setup a {
    background: url(./images/cuuamlenh-vip-giftcode.png) no-repeat -499px center;
    width: 245px;
    height: 85px;
    margin: 0px auto;
    position: absolute;
    top: 0px;
    left: 500px;
}

.news-link {
    border-left: 6px solid #1f3252;
    border-right: 6px solid #1f3252;
    border-bottom: 6px solid #1f3252;
    margin-bottom: 20px;
    margin-top: 345px;
    
}

.tabs-news {
    background: url(./images/news-header-bg.png) no-repeat top center;
    width: 743px;
    height: 63px;
    margin: 0px auto;
    padding: 0px;
    margin-left: -6px;
}

.tabs-news li {
    float: left;
    line-height: 65px;
    white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}


.tabs-news li.tab-news a {
    color: #c7a87a;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    height: 64px;
}

.container-event-info {
    background: none repeat scroll 0 0 #fff;
    clear: both;
    height: 145px;
    padding: 15px;
    position: relative;
    top: -5px;
    width: 96%;
}

.container-event-image {
    width: 143px;
    height: 137px;
    padding: 0px;
    margin: 0px;
    float: left;
    overflow: hidden;
    border: 5px solid #b69b74;
    outline: 1px solid #ce891b;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

.container-event-content h3 a {
    color: #b70f0b;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    font-family: Tahoma;
    text-transform: uppercase;
}

.event-date {
    font-style: italic;
    color: #8c8c8c;
    line-height: 24px;
}

.container-event-description h4 {
    padding: 0px;
    margin: 0px;
    color: #696969 !important;
    font-size: 14px;
}

.container-event-image img {
    height: 137px;
    width: 143px;
}
.news-content-tab {
    margin-top: -5px;
}

.container-event-content {
    width: 490px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    float: left;
    margin-left: 20px;
}

.page {
    height: 50px;
    width: 250px;
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top a {
    background: #112141;
    border: 3px solid #bfbfbf;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'UVNThanhPho_R';
    font-size: 14px;
    float: left;
}

.details a {
    background: #112141;
    border: 3px solid #bfbfbf;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'UVNThanhPho_R';
    font-size: 14px;
    float: left;
    margin-left: 10px;
}

.session-right {
    width: 240px;
    min-height: 1000px;
    float: right;
    margin: 0px auto;

}

.box-option {
    background: #112141;
    width: 239px;
    height: 310px;
    margin: 0px auto;
    padding: 0px;
    position: absolute;
    margin-top: 256px;
}

.option-1 a {
    background: url(./images/links-right.png) no-repeat left top;
    width: 227px;
    height: 55px;
    margin: 0px auto;
    position: absolute;
    top: 8px;
    left: 7px;
}

.option-2 a {
    background: url(./images/links-right.png) no-repeat left -58px;
    width: 227px;
    height: 55px;
    margin: 0px auto;
    position: absolute;
    top: 68px;
    left: 7px;
}

.option-3 a {
    background: url(./images/links-right.png) no-repeat left -116px;
    width: 227px;
    height: 55px;
    margin: 0px auto;
    position: absolute;
    top: 128px;
    left: 7px;
}

.option-4 a {
    background: url(./images/links-right.png) no-repeat left -174px;
    width: 227px;
    height: 55px;
    margin: 0px auto;
    position: absolute;
    top: 190px;
    left: 7px;
}

.option-5 a {
    background: url(./images/links-right.png) no-repeat left 0px;
    width: 227px;
    height: 55px;
    margin: 0px auto;
    position: absolute;
    top: 250px;
    left: 7px;
}

.footer-gosu {
    width: auto;
    padding: 40px 0 30px;
    text-align: center;
    color: #181818;
    font-family: Tahoma, Arial, Helvetica, sans-serift;
    font-size: 14px;
    line-height: 1.5;
}
.footer-link-privacy {
    margin-bottom: 10px;
}
.footer-link-privacy a {
    color: #181818;
    text-decoration: none;
}
.footer-link-privacy a:hover {
    color: #ffa000;
}
.footer-gosu p {
    margin-bottom: 3px;
    color: #181818;
}
.footer-gosu-inner {
    width: 100%;
    max-width: 1000px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    position: relative;
    margin: 0 auto
}
  
.footer-logo-gosu {
    position: absolute;
    display: block;
    text-indent: -999em;
    background: url(./images/gosu-logo.png) 0 0 no-repeat;
    width: 149px;
    height: 41px;
    left: 0;
    top: -10px;
    margin-top: 1300px;
}
